{% extends "nav.html" %}

{% block content %}
    <h2 class="text-center my-3">ゴルフ場検索</h2>
    <form action="/search_golf" method="post" class="d-block w-75 mx-auto">
        <div class="form-group mt-5">
            <label for="text">ゴルフ場</label>
            <input type="text" name="golf_course" id="text" class="form-control" placeholder="ゴルフ場を入力してください">
        </div>
        
        <div class="form-group mt-5">
            <label for="prefectures">都道府県</label>
            <select  name="prefectures" id="prefectures" class="form-control">
                <option value="0" selected>全地域</option>
                <option value="101">北海道・東北</option>
                <option value="102">関東</option>
                <option value="103">北陸</option>
                <option value="104">中部</option>
                <option value="105">近畿</option>
                <option value="106">中国</option>
                <option value="107">四国</option>
                <option value="108">九州・沖縄</option>
                <option value="1">北海道</option>
                <option value="2">青森県</option>
                <option value="3">岩手県</option>
                <option value="4">宮城県</option>
                <option value="5">秋田県</option>
                <option value="6">山形県</option>
                <option value="7">福島県</option>
                <option value="8">茨城県</option>
                <option value="9">栃木県</option>
                <option value="10">群馬県</option>
                <option value="11">埼玉県</option>
                <option value="12">千葉県</option>
                <option value="13">東京都</option>
                <option value="14">神奈川県</option>
                <option value="15">新潟県</option>
                <option value="16">富山県</option>
                <option value="17">石川県</option>
                <option value="18">福井県</option>
                <option value="19">山梨県</option>
                <option value="20">長野県</option>
                <option value="21">岐阜県</option>
                <option value="22">静岡県</option>
                <option value="23">愛知県</option>
                <option value="24">三重県</option>
                <option value="25">滋賀県</option>
                <option value="26">京都府</option>
                <option value="27">大阪府</option>
                <option value="28">兵庫県</option>
                <option value="29">奈良県</option>
                <option value="30">和歌山県</option>
                <option value="31">鳥取県</option>
                <option value="32">島根県</option>
                <option value="33">岡山県</option>
                <option value="34">広島県</option>
                <option value="35">山口県</option>
                <option value="36">徳島県</option>
                <option value="37">香川県</option>
                <option value="38">愛媛県</option>
                <option value="39">高知県</option>
                <option value="40">福岡県</option>
                <option value="41">佐賀県</option>
                <option value="42">長崎県</option>
                <option value="43">熊本県</option>
                <option value="44">大分県</option>
                <option value="45">宮崎県</option>
                <option value="46">鹿児島県</option>
                <option value="47">沖縄県</option>
                <option value="109">海外</option>
            </select>
        </div>        

        <div class="form-group mt-5">
            <label for="want">取得ゴルフ場</label>
            <select class="form-control" id="want" name="want_golf">
                <option value="1" selected >1件</option>
                <option value="5">5件</option>
                <option value="10">10件</option>
                <option value="15">15件</option>
                <option value="20">20件</option>
                <option value="30">30件</option>
            </select>
        </div>

        <div class="form-group mt-5">
            <label for="exampleFormControlSelect1">ソート</label>
            <select class="form-control" id="exampleFormControlSelect1" name="golf_sort">
                <option value="rating">口コミ順</option>
                <option value="50on">50音順</option>
                <option value="prefecture">都道府県別</option>
                <option value="highway">高速道路順</option>
                <option value="reservation">予約件数順</option>
                <option value="evaluation">総合評価</option>
                <option value="staff">スタッフ検索</option>
                <option value="facility">施設が充実</option>
                <option value="meal">食事が美味しい</option>
                <option value="course">コース/戦略性</option>
                <option value="costperformance">コストパフォーマンス</option>
                <option value="distance">距離が長い</option>
                <option value="fairway">フェアウェイが広い</option>
                <option value="friends">エンジョイ/カジュアル</option>
                <option value="entertainment">接待/高級</option>
                <option value="couple">カップル</option>
                <option value="athlete">アスリート</option>
                <option value="beginner">初心者</option>
                <option value="normal">中級者</option>
                <option value="senior">上級者</option>
                <option value="woman">女性</option>
            </select>
        </div>

        <div>
            <h4>欲しい情報を選択</h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="get_caption" id="inlineRadio4" value="1">
                <label class="form-check-label" for="inlineRadio4">ゴルフ場説明</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="get_evaluation" id="inlineRadio9" value="1">
                <label class="form-check-label" for="inlineRadio9">総合評価</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="get_id" id="inlineRadio2" value="1">
                <label class="form-check-label" for="inlineRadio2">ゴルフ場ID</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="get_latitude" id="inlineRadio5" value="1">
                <label class="form-check-label" for="inlineRadio5">緯度</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="get_longitude" id="inlineRadio1" value="1">
                <label class="form-check-label" for="inlineRadio1">経度</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="get_highway" id="inlineRadio8" value="1">
                <label class="form-check-label" for="inlineRadio8">最寄り高速道路</label>
            </div>
            
        </div>
        
        <input type="submit" value="ゴルフ場検索" class="btn btn-danger mt-4">
    </form>
{% endblock %}
