{% extends "nav.html" %}

{% block content %}
    <h1 class="text-center my-5">データベース検索</h1>
    
    <ol class="w-75 mx-auto">
        <li class="pt-4">
            <h3>素早い購入意思決定をサポート！ユーザーに合わせた情報提供であなたのニーズにピッタリ応えます</h3>
            <p class="pt-5" style="line-height: 2.5; font-size: 20px">
                当サービスでは、お客様の意思決定をスムーズに進めるためのサポートを行います!
                <br>
                具体的には、一度に取得する情報を30件までとし意思決定に必要な判断材料を絞り込むこと、購入の際の意思決定の効率化の手助けをいたします。
                <br>
                また、このサービスはお客様が求める情報を選択的に受け取ることができます。欲しい情報のチェックボックスにチェックを入れることで、その情報を取得できます。チェックを入れない情報は表示されないので、ユーザーに合わせた情報提供が可能にしています。
                <br>
                このように、柔軟にユーザーのニーズに応じた情報提供を行うこと、判断材料を絞り込むことで、お客様がより効果的に購入意思決定を行うサポートを行っております!
            </p>
        </li>
        <li class="pt-4">
            <h3>使い方</h3>
            <p>
                <ul>
                    <li>
                        <h3>テキストボックス</h3>
                        <p>
                            <span class="text-danger">入力必須</span>と書かれていたら、必ずキーワードを入力してください。
                        </p>
                    </li>
                    <li>
                        <h3>セレクトボックス</h3>
                        <p> 
                            何もしなくても検索は可能ですが、変更がある場合は変更ください。
                        </p>
                    </li>
                    <li>
                        <h3>チェックボックス</h3>
                        <p>
                            追加で欲しい情報がある場合はチェックを入れてください。何もチェックを入れなかった場合はそれぞれ以下の情報が出力されます。
                            <table class="table">
                                <tr>
                                    <th>商品</th>
                                    <td>
                                        <ul>
                                            <li>商品名</li>
                                            <li>価格</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>ゲーム</th>
                                    <td>
                                        <ul>
                                            <li>商品名</li>
                                            <li>価格</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>書籍</th>
                                    <td>
                                        <ul>
                                            <li>書籍名</li>
                                            <li>著者</li>
                                            <li>出版社</li>
                                            <li>価格</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>ゴルフ場</th>
                                    <td>
                                        <ul>
                                            <li>ゴルフ場名</li>
                                            <li>所在地</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>宿泊施設</th>
                                    <td>
                                        <ul>
                                            <li>宿泊施設名</li>
                                            <li>宿泊最安値</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </p>
                    </li>
                </ul>
            </p>
        </li>
    </ol>
    
{% endblock %}

